build
dist
*.spec
env
venv
output
nuitkaHelp.txt
FtpServer.json
*.csv
*.crt
*.key
__pycache__
mypyftpdlib/__pycache__
ftpServer.onefile-build
ftpServer.build
ftpServer.dist
ftpServer.installer
ftpServer.exe